<config>
    <modules>
        <Training_Luxurytax>
            <version>0.3.0</version>
        </Training_Luxurytax>
    </modules>
    <frontend>
        <layout>
            <updates>
                <luxurytax>
                    <file>luxurytax/layout.xml</file>
                </luxurytax>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <luxurytax>
                    <file>luxurytax/layout.xml</file>
                </luxurytax>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <blocks>
            <luxurytax>
                <class>Training_Luxurytax_Block</class>
            </luxurytax>
        </blocks>
        <resources>
            <luxurytax_setup>
                <setup>
                    <module>Training_Luxurytax</module>
                </setup>
            </luxurytax_setup>
        </resources>
        <helpers>
            <luxurytax>
                <class>Training_Luxurytax_Helper</class>
            </luxurytax>
        </helpers>
        <fieldsets>
            <sales_convert_quote_address>
                <base_luxury_tax_amount>
                    <to_order>*</to_order>
                </base_luxury_tax_amount>
                <luxury_tax_amount>
                    <to_order>*</to_order>
                </luxury_tax_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <models>
            <luxurytax>
                <class>Training_Luxurytax_Model</class>
            </luxurytax>
        </models>

        <sales>
            <quote>
                <totals>
                    <luxury_tax>
                        <class>luxurytax/sales_quote_address_total_luxurytax</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </luxury_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <luxury_tax>
                        <class>luxurytax/sales_order_invoice_total_luxurytax</class>
                        <after>subtotal</after>
                    </luxury_tax>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <luxury_tax>
                        <class>luxurytax/sales_order_creditmemo_total_luxurytax</class>
                        <after>subtotal</after>
                    </luxury_tax>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <default>
        <luxurytax>
            <luxurytax_group>
                <luxurytax_fetch_bool>1</luxurytax_fetch_bool>
                <luxurytax_luxury_tax_amount>10</luxurytax_luxury_tax_amount>
                <luxurytax_price>200</luxurytax_price>
            </luxurytax_group>
        </luxurytax>
    </default>
</config>
