<config>
    <modules>
        <Training_Helloworld>
            <version>0.1.0</version>
        </Training_Helloworld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Training_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>helloworld/local.xml</file>
                </helloworld>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <helloworld>
                <class>Training_Helloworld_Block</class>
            </helloworld>
        </blocks>
        <models>
            <helloworld>
                <class>Training_Helloworld_Model</class>
                <!--need to create our own resource, can't just use core_resource-->
                <resourceModel>helloworld_resource</resourceModel>
            </helloworld>
            <helloworld_resource>
                <class>Training_Helloworld_Model_Resource</class>
                <entities>
                    <blogpost>
                        <table>blog_posts</table>
                    </blogpost>
                </entities>
            </helloworld_resource>
        </models>
    </global>
</config>