<config>
    <modules>
        <Training_Complexworld>
            <version>0.1.0</version>
        </Training_Complexworld>
    </modules>
    <frontend>
        <routers>
            <complexworld>
                <use>standard</use>
                <args>
                    <module>Training_Complexworld</module>
                    <frontName>complexworld</frontName>
                </args>
            </complexworld>
        </routers>
        <layout>
            <updates>
                <complexworld>
                    <file>complexworld/local.xml</file>
                </complexworld>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <complexworld>
                <class>Training_Complexworld_Block</class>
            </complexworld>
        </blocks>
        <models>
            <complexworld>
                <class>Training_Complexworld_Model</class>
                <resourceModel>complexworld_resource</resourceModel>
            </complexworld>
            <complexworld_resource>
                <class>Training_Complexworld_Model_Resource</class>
                <entities>
                    <eavblogpost>
                        <table>eavblog_posts</table>
                    </eavblogpost>
                </entities>
            </complexworld_resource>
        </models>
        <resources>
            <complexworld_setup>
                <setup>
                    <module>Training_Complexworld</module>
                    <class>Training_Complexworld_Model_Resource_Setup</class>
                </setup>
            </complexworld_setup>
        </resources>
    </global>
</config>