<config>
    <modules>
        <Training_Storelocator>
            <version>0.1.5</version>
        </Training_Storelocator>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <storelocator before="Mage_Adminhtml">Training_Storelocator_Adminhtml</storelocator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <storelocator>
                    <file>storelocator/store.xml</file>
                </storelocator>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <importexport module="importexport">
            <import_entities>
                <storelocator_store translate="label">
                    <model_token>storelocator/import_entity_store</model_token>
                    <label>Storelocator</label>
                </storelocator_store>
            </import_entities>
        </importexport>

        <models>
            <storelocator>
                <class>Training_Storelocator_Model</class>
                <resourceModel>storelocator_resource</resourceModel>
            </storelocator>
            <storelocator_resource>
                <class>Training_Storelocator_Model_Resource</class>
                <entities>
                    <store>
                        <table>storelocator</table>
                    </store>
                    <store_datetime>
                        <table>storelocator_datetime</table>
                    </store_datetime>
                    <store_decimal>
                        <table>storelocator_decimal</table>
                    </store_decimal>
                    <store_int>
                        <table>storelocator_int</table>
                    </store_int>
                    <store_text>
                        <table>storelocator_text</table>
                    </store_text>
                    <store_varchar>
                        <table>storelocator_varchar</table>
                    </store_varchar>
                    <store_char>
                        <table>storelocator_char</table>
                    </store_char>
                </entities>
            </storelocator_resource>
        </models>
        <resources>
            <storelocator_setup>
                <setup>
                    <module>Training_Storelocator</module>
                    <class>Training_Storelocator_Model_Resource_Setup</class>
                </setup>
            </storelocator_setup>
        </resources>

        <blocks>
            <storelocator>
                <class>Training_Storelocator_Block</class>
            </storelocator>
        </blocks>
        <helpers>
            <storelocator>
                <class>Training_Storelocator_Helper</class>
            </storelocator>
        </helpers>
    </global>
</config>
